<h2>Mon Équipe </h2>
<div class="photo-container">

    <a href="/membre-equipe">
        <div class="photo">
            <img src="../../../assets/image/team work.jpg" alt="Membre de mon équipe">
            <p>Membre de mon équipe</p>
          </div>
    </a>
    
    <a href="/dashboard-equipe">
        <div class="photo" >
            <img src="../../../assets/image/dashboard icon.jpg" alt="Dashboard des compétences">
            <p>Dashboard des compétences</p>
        </div>
    </a>

</div>
  
  
  