.form-group {
    margin-bottom: 20px; /* Espacement entre chaque groupe de champ */
    margin-left: 30px;
    margin-top: 40px;
  }
  
  label {
    display: block; /* Afficher chaque étiquette sur une ligne */
    font-weight: bold; /* Police en gras pour les étiquettes */
  }
  
  input[type="password"] {
    width: 80%; /* Largeur du champ de saisie */
    padding: 10px; /* Espacement intérieur du champ de saisie */
    font-size: 16px; /* Taille de la police */
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 4px; /* Bordure arrondie */
    box-sizing: border-box; /* La largeur inclut la bordure et le remplissage */
  }
  
  .btn-primary {
    background-color: #cb6969; /* Couleur de fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    border: none; /* Pas de bordure */
    right: 40px;
    border-radius: 4px; /* Bordure arrondie */
    padding: 10px 20px; /* Espacement intérieur du bouton */
    font-size: 16px; /* Taille de la police */
    cursor: pointer; /* Curseur pointeur au survol */
  }
  
  .btn-primary:hover {
    background-color: #e67e62; /* Couleur de fond du bouton au survol */
  }

  .update{
    border: 3px solid #fffcfc; /* Bordure autour du formulaire */
    margin-top: 100px;
    margin-left: 700px;
    margin-bottom: 60px;
    background-color: #e5e3e3; /* Couleur de fond du formulaire */
    border-radius: 8px; /* Bordure arrondie */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
    width: 400px; /* Largeur du formulaire */
  }
  
  