@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
.parent {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parent,
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  max-width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 1s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.title {
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
  margin-top: 20px;
}

.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaaaaae9;
  font-weight: 500;
}

.btn {
  width: 150px;
  background-color: hsl(1, 64%, 50%);
  margin-top: 20px;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #ffffffa7;
  text-transform: uppercase;
  font-weight: 600;
}

.container img {
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  margin-left: 90px;
  margin-bottom: 80px;
  margin-top: 120px;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.right-panel .content {
  transform: translateX(800px);
  margin-top: 20px;
}

@media (max-width: 870px) {
  

  .signin-signup {
      width: 100%;
      top: 100%;
      transform: translate(-50%, -100%);
      transition: 1s 0.8s ease-in-out;
 
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
      left: 50%;
  }

  .panels-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      padding: 2.5rem 8%;
      grid-column: 1 / 2;
  }

  .right-panel {
      grid-row: 3 / 4;
  }

  .left-panel {
      grid-row: 1 / 2;
  }

  .panel .content {
      padding-right: 15%;
      transition: transform 0.9s ease-in-out;
      transition-delay: 0.8s;
  }

  .container:before {
      width: 1500px;
      height: 1500px;
      transform: translateX(-90%);
      left: 30%;
      bottom: 80%;
      right: initial;
      top: initial;
      transition: 2s ease-in-out;
  }
}

/* Styles de base pour la navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
}

.logo img {
  width: 100px; /* Ajustez la taille du logo selon vos besoins */
  height: auto; /* Ajuste automatiquement la hauteur pour préserver les proportions */
}


.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin-left: 20px;
}

.menu li:first-child {
  margin-left: 0;
}

.menu li a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

 /*Styles pour rendre la navbar réactive */
@media screen and (max-width: 800px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .menu {
      margin-top: 20px;
  }
  .container img {

    max-width: 100%; /* Make the image responsive */
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: auto; /* Center the image horizontally */
  margin-right: auto;
  display: block; /* Ensure the image is treated as a block element */


  }

  

}
